html,
body,
.abema-webview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

body {
  -webkit-app-region: drag;
  transition: opacity 0.5s;
}

body:hover {
  opacity: 0.25;
}
